ARM_CLIENT_ID=<please_fill>
ARM_CLIENT_SECRET=<please_fill>
ARM_TENANT_ID=<plesae_fill>
ARM_SUBSCRIPTION_ID=<plesae_fill>
TF_VAR_admin_password=<please_fill_strong_passwrod>
environment=dev
apply_changes=false